<% title = 'Semestre' %>
<% provide :title, title %>

<section class="content-header">
  <h1><%= title %></h1>
  <%= render_breadcrumb %>
</section>

<section class="content">
  <% if @semesters.present? %>
    <div class="box box-success">
      <div class="box-header">
        <h2>Semestre</h2>
      </div>
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
          <tbody>
          <% @semesters.each do |semester| %>
          <tr>
            <td>
              <%= link_to semester.label, semester_path(semester) %>
            </td>
          </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% else %>
    Aplikácia ešte nebola nasadené počas semestra.
  <% end %>
</section>
