<% title = @semester.label %>
<% provide :title, title %>

<% breadcrumb_add 'Semestre', semesters_path %>

<section class="content-header">
  <h1><%= title %></h1>
  <%= render_breadcrumb %>
</section>

<section class="content">
  <% if current_user.instance_of? Instructor %>
    <%= link_to new_courses_semester_path, class: 'btn btn-success' do %>
      <i class="glyphicon glyphicon-plus"></i> Pridať predmet
    <% end %>
  <% end %>
  
  <% if @courses_semesters.present? %>
    <div class="box box-success">
      <div class="box-body table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Predmet</th>
              <th>Garant</th>
              <th>Late days</th>
            </tr>
          </thead>
          <tbody>
            <% @courses_semesters.each do |course_semester| %>
            <tr>
              <td>
                <%= link_to courses_semester_path(course_semester) do %>
                  <%= course_semester.course.name %>
                <% end %>
              </td>
              <td><%= course_semester.supervisor %></td>
              <td><%= course_semester.late_days %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
</section>
