<div class="box box-success login-box">
	<div class="box-header text-center">
		<h3 class="box-title">Late days, lazy way</h3>
	</div>
		<%= form_for :session, url: login_path do |f| %>
			<div class="box-body">
        <p class="text-center">Prihláste sa <strong>s AIS</strong> údajmi</p>
				
				<% flash.each do |message_type, message| %>
					<div class="alert alert-<%= message_type %> alert-dismissible">
	            		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	            		<%= message %>    
					</div>
				<% end %>

				<div class="form-group">
			  		<%= f.label :username, 'Prihlasovacie meno' %>
			  		<%= f.text_field :username, class: 'form-control' %>
				</div>

				<div class="form-group">
			  		<%= f.label :password, 'Heslo' %>
			  		<%= f.password_field :password, class: 'form-control' %>
				</div>
			</div>

			<div class="box-footer">
		  		<%= f.submit 'Prihlásiť', class: 'btn btn-block btn-success' %>
		  	</div>
		<% end %>
	</div>
</div>
