<!DOCTYPE HTML>
<html>
<head>
	<title>Prihlásenie | Late days</title>
	<%= csrf_meta_tags %>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<%= render 'layouts/shim' %>
</head>
<body class="bg">
	<div class="wrapper">
		<section class="content">
			<div class="col-md-4 col-md-offset-4">
				<%= render 'form' %>
			</div>
		</section>
	</div>
</body>
</html>
