<div class="col-md-6 col-sm-12 col-xs-12">
	<div class="box box-success">
		<%= form_tag controller: 'courses_semesters', action: 'create', method: 'post' do %>
			<div class="box-body">
				<div class="form-group">
					<%= label_tag :name, "Názov" %>
					<%= text_field_tag :name, params[:name], class: 'form-control', placeholder: 'Databázové systémy' %>
				</div>

				<div class="form-group">
					<%= label_tag :abbr, "Skratka predmetu" %>
					<%= text_field_tag :abbr, params[:abbr], class: 'form-control', placeholder: 'DBS' %>
				</div>

				<div class="form-group">
					<%= label_tag :late_days, "Počet late days" %>
					<%= number_field_tag :late_days, params[:late_days], class: 'form-control' %>
				</div>

				<div class="form-group">
					<%= label_tag :supervisor, "Garant (len meno bez titulov)" %>
					<%= text_field_tag :supervisor, params[:supervisor], class: 'form-control', placeholder: 'Michal Barla' %>
				</div>
			</div>
			<div class="box-footer">
				<%= submit_tag 'Uložiť', class: 'btn btn-success' %>
			</div>
		<% end %>
	</div>
</div>