<% provide :title, @title %>

<section class="content-header">
  <h1><%= @title %></h1>
  <%= render_breadcrumb %>
</section>

<section class="content">
  <%= link_to new_courses_semester_url(@current_semester), class: 'btn btn-success' do %>
    <i class="fa fa-plus"></i> Pridať kurz do semestra
  <% end %>

  <% if @courses.present? %>
    <div class="box box-success">
      <div class="box-body table-responsive">
        <table class="table table-hover">
          <thead>
           <tr>
            <th>Názov</th>
           </tr>
           </thead>
           <tbody>
             <% @courses.each do |course| %>
               <tr>
                 <td><%= link_to course.course.name, courses_semester_labs_path(course) %></td>
              </tr>
            <% end %>
           </tbody>
          </table>
        </div>
     </div>
  <% end %>
</section>
