<% provide :title, @title %>

<% @semester = current_semester %>
<% breadcrumb_add @semester.label, semester_path(@semester) %>

<section class="content-header">
	<h1><%= @title %></h1>
	<%= render_breadcrumb %>
</section>

<section class="content">
  <%= render 'form' %>
</section>
