<% provide :title, @title %>
<% breadcrumb_add 'Semestre', semesters_path %>
<% breadcrumb_add current_semester.label, semester_path(current_semester) %>

<section class="content-header">
  <h1><%= @title %></h1>
  <%= render_breadcrumb %>
</section>

<section class="content row">
  <% if current_user.instance_of? Instructor %>
    <%= link_to sync_labs_path(@courses_semester.course_id), class: 'btn btn-success' do %>
    	<i class='glyphicon glyphicon-refresh'></i> Aktualizovať cvičenia
    <% end %>
  <% end %>

  <% if @projects.present? && current_user.instance_of?(Instructor) %>
    <section>
      <header>
        <h2>Zadania</h2>
      </header>
      <% @projects.each do |project| %>
        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
          <div class="small-box bg-green">
            <div class="inner">
              <h3>
                <%= project.success %>
                <sup style="font-size: 20px">%</sup>
              </h3>
              <p>
                <h4><%= project.assignment.name %></h4>
                <sub><%= format_date project.deadline %></sub>
              </p>
            </div>
            <div class="icon">
              <i class="glyphicon glyphicon-stats"></i>
            </div>
            <%= link_to courses_semester_project_path(@courses_semester, project), class: 'small-box-footer' do %>
              Chcem histogram <span class="glyphicon glyphicon-arrow-right"></span>
            <% end %>
          </div>
        </div>
      <% end %>
    </section>
  <% end %>

  <% if @labs.present? %>
    <section class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
      <div class="box box-success">
        <div class="box-header">
          <h3 class="box-title">Cvičenia</h3>
        </div>
        <div class="box-content">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Cvičiaci</th>
                <th>Čas cvičenia</th>
                <% if current_user.instance_of? Student %>
                  <th>Registrovať sa</th>
                <% end %>
              </tr>
            </thead>
            <tbody>
              <% @labs.each do |lab| %>
                <% instr ||= lab.instructor %>
                <% if instr.present? %>
                  <tr>
                    <td><%= link_to lab.instructor.name, instructor_path(instr) %></td>
                    <td>
                      <%= link_to instructor_lab_path(instr, lab) do %>
                        <%= lab.day.capitalize %>,
                        <%= format_time lab.start_at %> -
                        <%= lab_end_time lab %>
                      <% end %>
                    </td>
                    <% if current_user.instance_of? Student %>
                      <td>
                        <%= link_to student_lab_labs_students_path(current_user, lab), class: 'text-success' do %>
                          <span class="glyphicon glyphicon-log-in"></span>
                        <% end %>
                      </td>
                    <% end %>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  <% end %>
</section>
