<% provide :title, @title %>

<section class="content-header">
  <h1><%= @title %></h1>
  <%= render_breadcrumb %>
</section>

<section class="content">
  <%= link_to new_students_import_path, class: 'btn btn-success' do %>
    <i class="glyphicon glyphicon-import"></i> Import študentov
  <% end %>

  <% if @students.present? %>
    <div class="box box-success">
      <div class="box-body table-responsive no-padding">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Meno</th>
            <th>Upraviť</th>
          </tr>
        </thead>
        <tbody>
        <% @students.each do |student| %>
          <tr>
            <td><%= student.name %></td>
            <td>
              <% if student.ais_id == current_user.ais_id %>
                <%= link_to edit_student_path(student), class: 'text-success' do %>
                  <i class="glyphicon glyphicon-pencil"></i>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
      </div>
    </div>
  <% end %>
</section>
