<% provide :title, @title %>

<section class="content-header">
  <h1><%= @title %></h1>
  <%= render_breadcrumb %>
</section>

<section class="content">
  <% if @projects.present? %>
    <div class="box box-success">
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>Predmet</th>
            <th>Projekt</th>
            <th>Minuté late days</th>
          </tr>
          </thead>
          <tbody>
          <% @projects.each do |project| %>
            <tr>
              <td><%= project['course'] %></td>
              <td><%= project['assignment'] %></td>
              <td><%= days_between project['submission_date'], project['deadline'] %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
</section>