<% provide :title, @title %>

<section class="content-header">
  <h1><%= @title %></h1>
  <%= render_breadcrumb %>
</section>

<section class="content">
  <% if @instructors.present? %>
    <div class="box box-success">
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
          <thead>
            <th>Meno</th>
            <th>Zobraziť v AISe</th>
          </thead>
          <tbody>
            <% @instructors.each do |instr| %>
              <% ais_info_link = "https://is.stuba.sk/auth/lide/clovek.pl?id=" + instr.id.to_s + ";" %>
              <tr>
                <td><%= link_to instr.name, instructor_path(instr) %></td>
                <td>
                  <a href="<%= ais_info_link %>" target="_blank" class="text-success">
                    <span class="glyphicon glyphicon-link"></span>
                  </a>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
</section>
