<% provide :title, @instructor.name %>
<% breadcrumb_add 'Cvičiaci', instructors_path %>

<section class="content-header">
    <h1><%= @instructor.name %></h1>
    <%= render_breadcrumb %>
</section>

<section class="content">
  <% ais_info_link = "https://is.stuba.sk/auth/lide/clovek.pl?id=" + @instructor.id.to_s + ";" %>
  <a href="<%= ais_info_link %>" target="_blank" class="btn btn-large btn-success">Profil v AISe</a>

  <% if @labs.present? %>
    <div class="box box-success">
      <div class="box-body table-responsive">
        <table class="table table-hover">
          <thead>
            <th>Predmet</th>
            <th colspan="2"></th>
          </thead>
          <tbody>
            <% @labs.each do |lab| %>
            <tr>
              <td>
                <%= link_to courses_semester_path(lab.courses_semester_id) do %>
                  <%= lab.courses_semester.course.name %>
                <% end %>
              </td>
              <td>
                <%= link_to instructor_lab_path(lab.instructor_id, lab) do %>
                  <%= lab.day.capitalize %>,
                  <%= format_time lab.start_at %> -
                  <%= lab_end_time lab %>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
         </table>
       </div>
     </div>
   <% else %>
    <p class="clearfix" style="margin-top: 2em">
      Cvičiaci nemá pridelené nijaké cvičenia.
    </p>
  <% end %>
</section>