<ol class="breadcrumb">
  <% breadcrumb.each do |n| %>
    <li class="breadcrumb-item"><%= link_to n[:title], n[:url] %></li>
  <% end %>
  <li class="breacrumb-item active"><%= yield :title %></li>
</ol>
