<% provide :title, @title %>

<section class="content-header">
	<h1><%= @title %></h1>
	<%= render_breadcrumb %>
</section>

<section class="content">
  <% if @projects.present? %>
    <section class="row" style="margin: 0">
      <% @projects.each do |project| %>
        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
          <div class="small-box bg-green">
            <div class="inner">
              <h3>
                <%= project.success %>
                <sup style="font-size: 20px">%</sup>
              </h3>
              <p>
              <h4><%= project.assignment.name %></h4>
              <sub><%= format_date project.deadline %></sub>
              </p>
            </div>
            <%= link_to courses_semester_project_path(@courses_semester, project), class: 'small-box-footer' do %>
              Viac info
            <% end %>
          </div>
        </div>
      <% end %>
    </section>
  <% end %>
</section>
