<% title = @project.assignment.name %>
<% provide :title, title %>

<section class="content-header">
	<h1><%= title %></h1>
	<%= render_breadcrumb %>
</section>

<section class="content" style="padding: 3em">
  <%= column_chart @data, colors: ["#00a65a", "#00a65a"], xtitle: 'Počet Late Days', ytitle: 'Počet študentov' %>
</section>
