<div class="box box-success">
	<%= form_for @labs_students_import, url: instructor_lab_labs_students_imports_path(@lab.instructor, @lab) do |f| %>
		<div class="box-body">
			<%= render partial: 'shared/error_messages', object: @labs_students_import %>
			<div class="form-group">
				<%= f.label :file, 'Vyberte Excel (xls, xlsx) súbor, napr. export.xlsx' %>
				<%= f.file_field :file %>
			</div>
		</div>
		<div class="box-footer">
			<%= f.submit 'Importovať', class: 'btn btn-success' %>
		</div>
	<% end %>
</div>