<% title = 'Import študentov do cvičenia' %>
<% provide :title, title %>

<section class="content-header">
	<h1><%= title %></h1>
	<%= render_breadcrumb %>
</section>

<section class="content">
	<%= render 'form', instructor: @lab.instructor, lab: @lab %>
</section>