@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

html
{
  height: 100% !important;
}

body {
  width: 100%;
  height: 100%;
}

h2 {
  font-size: 1.5em;
}

a.btn-success, button.btn-success, *.btn-success {
  background-color: #00a65a !important;
}

section.content {
  padding: 2em;
}

.bg {
  background: url("background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div.page {
  background-color: #ecf0f5;
  min-height: 100%;
}

div.content-wrapper {
  min-height: 100%;
  margin: 0;
  padding: 10px 20px;
}

.login-box {
  background: rgba(255,255,255,0.85);
  padding: 20px;
  margin-top: 15%;
}

.bg .login-box .box-footer,
.bg .login-box .box-body {
  background: transparent;
  border-top: none;
}

div.content-wrapper ol a,
footer.main-footer a {
  color: #00a65a;
}

.content-wrapper div.box {
  margin-top: 20px;
}

@media only screen and (max-width: 768px) {
  ul.nav {
    width: 100%;
  }

  ul.nav > li {
    width: inherit;
    text-align: center;
  }
}
