<% provide :title, @title %>

<section class="content-header">
  <h1><%= @title %></h1>
  <%= render_breadcrumb %>
</section>

<section class="content">
  <% if @labs_students.present? %>
    <div class="box box-success">
      <div class="box-body table-responsive">
        <table class="table table-hover">
          <thead>
            <th>Predmet</th>
            <th>Meno</th>
            <th colspan="2"></th>
          </thead>
          <tbody>
            <% @labs_students.each do |lab_student| %>
            <tr>
              <td><%= lab_student.lab.courses_semester.course.name %></td>
              <td><%= lab_student.lab.instructor.name %></td>
              <td>
                <%= lab_student.lab.day.capitalize %>, 
                <%= format_time lab_student.lab.start_at %> - 
                <%= lab_end_time lab_student.lab %>
              </td>
            </tr>
            <% end %>
          </tbody>
         </table>
      </div>
     </div>
   <% end %>
</section>
