<% instructor = @lab.instructor %>
<% title = @lab.courses_semester.course.name%>
<% provide :title, title %>

<section class="content-header">
  <h1>
    <%= title %>:
    <%= @lab.day.capitalize %>, <%= format_time @lab.start_at %> - <%= lab_end_time @lab %>
  </h1>
  <%= render_breadcrumb %>
</section>

<section class="content">
  <% if current_user.ais_id == instructor.ais_id %>
    <%= link_to new_instructor_lab_labs_students_import_url(instructor, @lab), class: 'btn btn-success' do %>
      <i class="glyphicon glyphicon-import"></i> Importovať študentov
    <% end %>
  <% end %>

  <% if current_user.instance_of? Student %>
    <%= link_to student_lab_labs_students_path(current_user.ais_id, @lab), method: 'post', class: 'btn btn-success' do %>
      <i class="glyphicon glyphicon-log-in"></i> Registrovať sa
    <% end %>
  <% end %>

  <% if current_user.instance_of? Instructor %>
    <% if @projects.present? %>
      <% @projects.each do |project| %>
      <div class="box box-success">
        <div class="box-header">
          <h3 class="box-title"><%= project.assignment.name %></h3>
        </div>
        <div class="box-content table-responsive">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Študent</th>
              <th>Počet late days</th>
            </tr>
            </thead>
            <tbody>
              <% students = students_lab_project(@lab, project) %>
              <% students.each do |student| %>
                <tr>
                  <td><%= student.student.name %></td>
                  <td><%= student.spent_late_days %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <% end %>
    <% end %>
  <% end %>
</section>
