<footer class="main-footer container-fluid" style="margin: 0; background-color: #ecf0f5">
  <div class="pull-left">
	  <small>
	    Version 1.0.0
	  </small>
  </div>
  <div class="pull-right">
    <small>
	    &copy; Alexander Valach, 2017 - <%= DateTime.now.year %>
    </small>
  </div>
</footer>
