<header class="main-header">
    <nav class="navbar navbar-static-top" style="margin: 0" role="navigation">
      
      <div class="navbar-header">
        <%= link_to get_home_url, class: 'navbar-brand' do %>
          <span class="logo-lg">LATE DAYS</span>
        <% end %>
        <button type="button" class="navbar-toggle collapsed" 
          data-toggle="collapse" data-target="#home-menu" aria-expanded="false">
          <i class="fa fa-bars"></i>
        </button>
      </div>

      <div class="collapse navbar-collapse pull-right" id="home-menu">
        <ul class="nav navbar-nav">
            <li><%= link_to 'Predmety', semester_path(current_semester) unless current_semester.nil? %></li>
            <% if current_user.instance_of? Instructor %>
              <li><%= link_to 'Semestre', semesters_path %></li>
            <% end %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.name %>
                <b class="caret"></b>
              </a>
                <ul class="dropdown-menu">
                    <% if current_user.instance_of? Student %>
                      <li><%= link_to 'Moje Late Days', get_home_url %></li>
                    <% end %>
                    <li><%= link_to 'Odhlásiť', logout_path, method: :delete %></li>
                </ul>
            </li>
          </ul>
      </div>
    </nav>
</header>
