<!DOCTYPE html>
<html style="height: auto; min-height: 100%;">
  <head>
    <title><%= yield(:title) %> | Late days</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>
  <body class="skin-green">
    <div class="wrapper page">

      <%= render 'layouts/header' %>

      <div class="content-wrapper">
        <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %> alert-dismissible" style="margin: 0 1.1em">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <%= message %>
          </div>
        <% end %>
        <%= yield %>
      </div>

      <%= render 'layouts/footer' %>

      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
